meter {
    width: 100%;
    position: relative;
}

html {
    --soft: 20%;
    --loud: 80%;
    --slow: 20%;
    --fast: 80%;
    --dot: 24%;
}

#instant meter::-webkit-meter-bar{
    /*background: none;*/
    background-image:
        linear-gradient(
            90deg,
            #e6d45066 var(--soft),
            #8bcf6966 var(--soft),
            #8bcf6966 var(--loud),
            #f28f6866 var(--loud)
        );
}

#speechSpeed meter::-webkit-meter-bar{
    /*background: none;*/
    background-image:
        linear-gradient(
            90deg,
            #e6d45066 var(--slow),
            #8bcf6966 var(--slow),
            #8bcf6966 var(--fast),
            #f28f6866 var(--fast)
        );
}

.suboptimal {
    display: inline-block;
}

.optimal {
    display: inline-block;
}

.space {
    height: 10px !important;
    display: inline-block;
}

.suboptimal.high {
    border-radius: 0 5px 5px 0;
    width: 20% !important;
    background-color: #FEC40066;
    height: 10px !important;
}

.suboptimal.low {
    border-radius: 5px 0 0 5px;
    width: 20% !important;
    background-color: #FEC40066;
    height: 10px !important;
}

.optimal.mid {
    width: 54% !important;
    background-color: #29CC9766;
    height: 10px !important;
}

.meter > * {
    vertical-align: middle;
}

#instant meter::-webkit-meter-optimum-value {
    background-color: #29CC97;
}

#speechSpeed meter::-webkit-meter-optimum-value {
    background-color: #FEC400;
}

#instant meter::-webkit-meter-suboptimum-value, #speechSpeed meter::-webkit-meter-suboptimum-value  {
    background-color: #8B0000;
}

body {
    padding: 10px 10px;
    background-color: #F7F8FC !important;
    font-family: 'Mulish' !important;
}

.section {
    margin: 15px 0px;
    padding: 10px 5px!important;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 0.5px solid rgba(128, 128, 0, 0.2);
}

.section.left-half {
    margin-right: 4px !important;
}

.section.right-half {
    margin-left: 4px !important;
}

#instant .button, #speechSpeed .button{
    border-radius: 50%;
    padding: 5px;
    margin: 4px;
    text-align: center;
    font-size: small;
    color: white;
}

#instant .button, .etiquette .button.fa-check, .etiquette .button.fa-bell {
    background-color: #29CC97;
}

#instant .button:hover, .etiquette .button.fa-check:hover, .etiquette .button.fa-bell:hover {
    background-color: #29CC97B3;
}


#speechSpeed .button, .etiquette .button.fa-xmark {
    background-color: #FEC400;
}

#speechSpeed .button:hover, .etiquette .button.fa-xmark:hover {
    background-color: #FEC400B3;
}

.toggle-sub-title {
    color: #FEC400 !important;
    font-weight: bold;
    margin-right: 2px;
}

.description {
    margin: 0px 5px;
}

.link-like-text {
    background-color: #29CC97;
    color: white;
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: small;
}

.link-like-text:hover {
    background-color: #29CC97B3 !important;
}

.sub-title {
    font-size: small;
    color: grey;
}

.toggle {
    color: #FEC400;
    font-size: x-large;

}

.text-input {
    background:transparent;
    border:none;
    border-bottom:1px solid #80808066;
    width: 100% !important;
    font-size: small;
}

input:focus{
    outline: none;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vertical .line{
    width: 2px;
    height: 100%;
    background: blue;
    display: block;
    border: none;
}

.coloverlay{
    position: absolute;
    top: 64px;
    left: var(--dot);
    z-index:1;
    bottom:0;
    right:0;
    height:100%;
    pointer-events: none;
}

.chart-space{
    height: 2px;
}

.space{
    min-height:10px;
}

.etiquette .button {
    border-radius: 50%;
    padding: 2px;
    margin: 2px;
    text-align: center;
    font-size: small;
    color: white;
}

.line-breaker {
    height: 2px;
    background:#80808033;
    margin: 3px 5px !important;
}

.etiquette-each {
    width: 75% !important;
    max-width: 75% !important;
    font-size: 0.9em !important;
}

.etiquette-side {
    width: 25% !important;
    max-width: 25% !important;
}