meter {
    width: 100%;
}

body {
    padding: 10px 5px;
}

.section {
    margin: 15px 0px;
}

.description {
    margin: 0px 5px;
}

.etiquette-each {
    border-style: dotted;
    margin: 2px 4px;
    border-radius: 25px;
    padding: 2px;
}

i {
    margin: 0px 3px;
}

.etiquette-sentence{
    margin-right:10px;
}

.link-like-text {
    color: blue;
    text-decoration: underline;
}

.text-input {
    background:transparent;
    border:none;
    border-bottom:1px solid #000000;
}